.guarantees {
    width: 100%;
    background: #FFFFFF;
    padding: 1.0vw 0 4.17vw 0;
}

.guarantees-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 10%;
}

.guarantees-top {
    display: grid;
    grid-template-columns: 1fr 29.06vw;
    gap: 7.81vw;
    margin-bottom: 2.6vw;
    align-items: stretch;
}

.guarantees-left {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}

.guarantees-small-title {
    font-size: var(--font-size-h8);
    font-weight: 300;
    color: rgba(26, 26, 26, 0.75);
    text-align: left;
    font-family: 'Geist', sans-serif;
    display: flex;
    align-items: center;
    gap: 0.52vw;
}

.guarantees-small-title-bar {
    width: 0.21vw;
    height: 1.25vw;
    background: rgba(46, 61, 88, 1);
    flex-shrink: 0;
}

.guarantees-main-title {
    font-size: var(--font-size-h1);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3.4vw;
    color: #000000;
    text-align: left;
    font-family: 'Geist', sans-serif;
}

.guarantees-main-title span {
    text-decoration: underline;
    text-decoration-thickness: 0.16vw;
    text-underline-offset: 0.26vw;
    color: #485B85;
}

.guarantees-description {
    font-size: var(--font-size-h6);
    font-weight: 300;
    line-height: 2.1vw;
    color: rgba(26, 26, 26, 0.75);
    text-align: left;
    font-family: 'Geist', sans-serif;
    margin-top: auto;
}

.guarantees-right {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-self: flex-end;
}

.guarantees-item {
    display: flex;
    flex-direction: column;
    gap: 0.52vw;
    padding: 0.78vw 0;
}

.guarantees-item:nth-child(2) {
    padding: 0;
}

.guarantees-item-content-wrapper {
    display: flex;
    align-items: center;
    gap: 2.08vw;
    padding: 0 1.04vw;
}

.guarantees-item-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guarantees-item-icon svg {
    width: 2.45vw;
    height: 2.86vw;
}

.guarantees-item-text {
    display: flex;
    flex-direction: column;
    gap: 0.56vw;
    flex: 1;
}

.guarantees-years {
    font-size: var(--font-size-h1);
    font-weight: 700;
    color: #485B85;
    text-align: left;
    font-family: 'Geist', sans-serif;
    line-height: 1.2;
}

.guarantees-item-description {
    font-size: var(--font-size-body);
    font-weight: 300;
    color: #1A1A1ABF;
    text-align: left;
    font-family: 'Geist', sans-serif;
}

.guarantees-divider {
    height: 0.052vw;
    background: #1A1A1A59;
    transform: scaleY(0.5);
    transform-origin: center;
    margin-top: 0.52vw;
}

.guarantees-consultation {
    width: 100%;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border-radius: 1.04vw;
}

.guarantees-consultation-content {
    background: transparent;
    padding: 0.52vw 1.56vw 0.52vw 2.6vw;
    display: flex;
    align-items: center;
    gap: 2.6vw;
    position: relative;
    overflow: hidden;
    min-width: 0;
}

.guarantees-consultation-doctor-image {
    flex-shrink: 0;
    /* width: 18.02vw; */
    height: 11.46vw;
    min-width: 26.0vw;
    max-width: 26.0vw;
    border-radius: 1.04vw;
    overflow: hidden;
    margin-left: -2.08vw;
    position: relative;
    z-index: 1;
    border: 0.05vw solid rgba(255, 255, 255, 1);
    transition: transform 0.3s ease;
}

.guarantees-consultation-doctor-image:hover {
    transform: translateX(3px);
}

.guarantees-consultation-doctor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
    display: block;
}

.guarantees-consultation-text-block {
    /* flex: 1; */
    width: 46.3vw;
    display: flex;
    flex-direction: column;
    gap: 0.52vw;
    z-index: 2;
    min-width: 0;
}

.guarantees-consultation-title {
    text-align: left;
    font-size: var(--font-size-h3-5);
    font-weight: 700;
    color: #000000;
    margin: 0;
    line-height: 1.2;
    font-family: 'Geist', sans-serif;
    text-transform: uppercase;
}

.guarantees-consultation-description {
    text-align: left;
    font-size: var(--font-size-h8);
    font-weight: 300;
    color: #1A1A1ABF;
    margin: 0;
    line-height: 1.72vw;
    font-family: 'Geist', sans-serif;
}

.guarantees-consultation-button {
    padding: 0.31vw 0.31vw 0.31vw 1.56vw;
    border-radius: 2.6vw;
    border: 0.052vw solid #2E3D58;
    font-weight: 500;
    font-size: var(--font-size-button);
    line-height: 0.89vw;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1.56vw;
    font-family: 'Geist', sans-serif;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.guarantees-consultation-btn-primary {
    background: #485B85;
    color: #FFFFFF;
}

.guarantees-consultation-btn-primary span {
    color: #FFFFFF;
    transition: color 0.3s ease, transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    z-index: 3;
}

.guarantees-consultation-btn-primary:hover span {
    color: #485B85;
    transform: translateX(4.17vw);
}

.guarantees-consultation-btn-icon {
    width: 3.13vw;
    height: 3.13vw;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.guarantees-consultation-btn-icon svg {
    width: 0.73vw;
    height: 0.63vw;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.guarantees-consultation-button:hover .guarantees-consultation-btn-icon svg {
    transform: translateX(-10.42vw) rotate(40deg);
}

.guarantees-consultation-button::after {
    content: '';
    position: absolute;
    right: 0.31vw;
    top: 50%;
    transform: translateY(-50%);
    width: 3.13vw;
    height: 3.13vw;
    border-radius: 50%;
    background: #FFFFFF;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
    pointer-events: none;
}

.guarantees-consultation-button:hover::after {
    width: 41.67vw;
    height: 41.67vw;
    right: -20.83vw;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 2200px) { 
.guarantees-container {
    padding: 0 2.6vw;
}
}

@media (min-width: 2200px) {
    .guarantees-top {
        grid-template-columns: 1fr 22vw;
    }
}

@media (max-width: 780px) {
    .guarantees {
        padding-top: 3.85vw;
        padding-bottom: 0;
    }

    .guarantees-top {
        display: flex;
        flex-direction: column;
        margin-bottom: 6.41vw;
    }

    .guarantees-left {
        order: 1;
        gap: 2.56vw;
    }

    .guarantees-right {
        order: 2;
    }

    .guarantees-small-title {
        gap: 1.28vw;
    }

    .guarantees-small-title span {
        font-size: 3.21vw;
    }

    .guarantees-small-title-bar {
        width: 0.38vw;
        height: 5.13vw;
    }

    .guarantees-main-title {
        width: 100%;
        font-size: 5.77vw;
        font-weight: 700;
        line-height: 8.33vw;
        /* margin-bottom: 3.85vw; */
    }

    .guarantees-main-title span {
        text-decoration-thickness: 0.26vw;
        text-underline-offset: 0.64vw;
    }

    .guarantees-description {
        font-size: 3.33vw;
        line-height: 5.13vw;
    }

    .guarantees-right {
        align-self: center;
    }

    .guarantees-item {
        gap: 2.56vw;
    }

    .guarantees-item-icon {
        width: 6.79vw;
        height: 8.08vw;
    }

    .guarantees-item-icon svg {
        width: 6.79vw;
        height: 8.08vw;
    }

    .guarantees-item-content-wrapper {
        gap: 4.49vw;
    }

    .guarantees-years {
        font-size: 6.67vw;
        line-height: 9.62vw;
    }

    .guarantees-item-description {
        font-size: 2.56vw;
        line-height: 3.85vw;
    }

    .guarantees-item-text {
        gap: 1.41vw;
    }

    .guarantees-consultation-content {
        flex-direction: column;
        align-items: stretch;
        padding: 2.564vw;
        gap: 0;
        border-radius: 2.56vw;
    }

    .guarantees-consultation-doctor-image {
        order: 1;
        width: 100%;
        height: 44.872vw;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3.846vw;
        border-radius: 2.564vw;
        max-width: none;
        min-width: 0;
    }

    .guarantees-consultation-text-block {
        order: 2;
        gap: 0;
        width: 100%;
    }

    .guarantees-consultation-title {
        font-size: 5.0vw;
        line-height: 7.051vw;
        font-weight: 600;
        margin-bottom: 3.846vw;
    }

    .guarantees-consultation-description {
        font-size: 3.333vw;
        line-height: 5.128vw;
        margin-bottom: 3.846vw;
    }

    .guarantees-consultation-button {
        order: 3;
        width: 45.641vw;
        font-size: 2.179vw;
        border-radius: 19.231vw;
        padding: 0.77vw 0.77vw 0.77vw 3.21vw;
        justify-content: space-between;
        margin-left: auto;
    }

    .guarantees-consultation-btn-icon {
        width: 8.718vw;
        height: 8.718vw;
        border-radius: 19.231vw;
        margin-left: auto;
    }

    .guarantees-consultation-btn-icon svg {
        width: 2.051vw;
        height: 1.667vw;
    }

    .guarantees-consultation-button::after {
        right: 0.77vw;
        width: 8.718vw;
        height: 8.718vw;
        border-radius: 19.231vw;
    }

    .guarantees-consultation-button:hover::after {
        width: 120vw;
        height: 120vw;
        right: -60vw;
    }

    .guarantees-consultation-btn-primary:hover span {
        transform: translateX(8.974vw);
    }

    .guarantees-consultation-button:hover .guarantees-consultation-btn-icon svg {
        transform: translateX(-35.521vw) rotate(40deg);
    }
}