.installment-container {
  background-color: #FFFFFF;
  padding: 80px 50px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.installment-header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.installment-title {
  width: calc(50% - 5px);
  font-size: var(--font-size-h1);
  font-weight: 600;
  color: #000000;
  margin: 0;
  line-height: 60px;
  text-transform: uppercase;
  flex-shrink: 0;
  text-align: left;
}

.installment-title span {
  color: #485B85;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.installment-subtitle {
  width: calc(50% - 5px);
  font-size: var(--font-size-h8);
  font-weight: 300;
  color: #1A1A1ABF;
  margin: 0;
  line-height: 33px;
  text-align: left;
  flex-shrink: 0;
}

.installment-card {
  min-height: 400px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(85.29deg, #2E3D58 -10.2%, #6384BE 90.17%);
  padding: 50px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  gap: 0;
  position: relative;
  box-sizing: border-box;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

.installment-card-left {
  /* background-color: #485B85; */
  /* padding: 60px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border-radius: 20px 0 0 20px; */
  flex: 0 0 45%;
  padding-right: 30px;
  box-sizing: border-box;
  overflow: hidden;
  /* align-items: center; */
  justify-content: center;
  text-align: left;
}

.installment-card-title {
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
}

.installment-card-description {
  font-size: var(--font-size-h6);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  margin: 0;
  line-height: 40px;
  text-align: left;
  opacity: 0.9;
}

.installment-button {
  padding: 6px 6px 6px 30px;
  border-radius: 50px;
  border: 1px solid #2E3D58;
  font-weight: 700;
  font-size: var(--font-size-button);
  line-height: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'Geist', sans-serif;
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
  width: fit-content;
}

.installment-button span {
  color: #485B85;
  position: relative;
  z-index: 3;
  transition: color 0.3s ease, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.installment-button:hover span {
  color: #FFFFFF;
  transform: translateX(70px);
}

.installment-button-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #485B85;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}

.installment-button-icon svg {
  width: 19px;
  height: 18px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.installment-button:hover .installment-button-icon svg {
  transform: translateX(-200px) rotate(40deg);
}

.installment-button::after {
  content: '';
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #485B85;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  pointer-events: none;
}

.installment-button:hover::after {
  width: 800px;
  height: 800px;
  right: -400px;
  top: 50%;
  transform: translateY(-50%);
}

.installment-card-right {
  background-color: #FFFFFF;
  height: 576px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  flex: 0 0 55%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.installment-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex: 1;
  flex-wrap: wrap;
}

.installment-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.installment-stat-value {
  font-size: 220px;
  font-weight: 700;
  line-height: 1;
  color: #485B85;
}

.installment-stat-label {
  font-size: 50px;
  color: #485B85;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.installment-card-bottom-text {
  font-size: var(--font-size-body);
  color: #1A1A1A;
  font-weight: 300;
  margin: 0;
  line-height: 1.6;
  text-align: center;
  margin-top: auto;
}

@media (max-width: 1650px) {
  .installment-title {
    line-height: 50px;
  }

  .installment-title span {
    text-decoration-thickness: 2.5px;
    text-underline-offset: 4px;
  }

  .installment-subtitle {
    line-height: 27px;
  }

  .installment-card-title {
    line-height: 50px;
  }

  .installment-card-description {
    line-height: 24px;
  }

  .installment-button {
    padding: 5px 5px 5px 24px;
    gap: 24px;
  }

  .installment-button-icon svg {
    width: 11px;
    height: 9px;
  }

  .installment-button::after {
    width: 48px;
    height: 48px;
  }

  .installment-button:hover .installment-button-icon svg {
    transform: translateX(-200px) rotate(40deg);
  }

  .installment-button:hover span {
    transform: translateX(60px);
  }

  .installment-button:hover::after {
    width: 640px;
    height: 640px;
    right: -320px;
  }

  .installment-card-right {
    height: 512px;
  }

  .installment-stat-value {
    font-size: 180px;
  }

  .installment-stat-label {
    font-size: 40px;
  }
}

@media (max-width: 1367px) {
  .installment-card-right {
    height: 450px;
  }

  .installment-card {
    padding: 30px;
  }

  .installment-stat-value {
    font-size: 140px;
  }

  .installment-stat-label {
    font-size: 30px;
  }

  .installment-stats {
    gap: 50px;
  }

  .installment-header {
    margin-bottom: 30px;
  }

  .installment-title {
    line-height: 45px;
  }

  .installment-title span {
    text-decoration-thickness: 2.5px;
    text-underline-offset: 4px;
  }

  .installment-subtitle {
    line-height: 24px;
  }

  .installment-card-title {
    line-height: 45px;
  }

  .installment-card-description {
    line-height: 21px;
  }

  .installment-button-icon {
    width: 43px;
    height: 43px;
  }

  .installment-button-icon svg {
    width: 10px;
    height: 8px;
  }

  .installment-button::after {
    width: 43px;
    height: 43px;
  }
}

@media (max-width: 1200px) {
  .installment-card-right {
    gap: 20px;
  }

  .installment-title {
    line-height: 40px;
  }

  .installment-title span {
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }

  .installment-card-title {
    line-height: 40px;
  }

  .installment-card-description {
    line-height: 19px;
  }

  .installment-button-icon {
    width: 38px;
    height: 38px;
  }

  .installment-button {
    padding: 4px 4px 4px 20px;
    gap: 20px;
  }

  .installment-button-icon svg {
    width: 9px;
    height: 7px;
  }

  .installment-button::after {
    width: 38px;
    height: 38px;
  }

  .installment-button:hover .installment-button-icon svg {
    transform: translateX(-200px) rotate(40deg);
  }

  .installment-button:hover span {
    transform: translateX(50px);
  }

  .installment-button:hover::after {
    width: 560px;
    height: 560px;
    right: -280px;
  }
}

@media (max-width: 1025px) {

  .installment-card-left {
    flex: 0 0 50%;
    padding-right: 10px;
  }

  .installment-card-right {
    flex: 0 0 50%;
  }

  .installment-stat-value {
    font-size: 100px;
  }

  .installment-stat-label {
    font-size: 20px;
  }

  .installment-card-right {
    height: 400px;
    padding: 10px;
  }

  .installment-card {
    padding: 10px;
  }

  .installment-header {
    margin-bottom: 20px;
  }

  .installment-title {
    line-height: 36px;
  }

  .installment-title span {
    text-decoration-thickness: 1.8px;
    text-underline-offset: 2.5px;
  }

  .installment-subtitle {
    line-height: 20px;
  }

  .installment-card-title {
    line-height: 36px;
  }

  .installment-card-description {
    line-height: 18px;
  }

  .installment-button-icon {
    width: 32.03px;
    height: 32.03px;
  }

  .installment-button {
    padding: 3.5px 3.5px 3.5px 16px;
  }

  .installment-button::after {
    width: 32.03px;
    height: 32.03px;
  }
}

@media (max-width: 890px) {
  .installment-container {
    padding: 25px 25px;
  }

  .installment-card {
    min-height: 370px;
    height: 350px;
  }

  .installment-card-left {
    height: 350px;
  }
  
  .installment-card-right {
    height: 350px;
  }

  .installment-title {
    line-height: 32px;
  }

  .installment-title span {
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }

  .installment-subtitle {
    line-height: 18px;
  }

  .installment-card-title {
    line-height: 32px;
  }

  .installment-card-description {
    line-height: 16px;
  }
}

