.installment-container {
  background-color: #FFFFFF;
  padding: 1.04vw 10% 4.17vw 10%;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.installment-header {
  margin-bottom: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.52vw;
}

.installment-title {
  width: calc(50% - 0.26vw);
  font-size: var(--font-size-h1);
  font-weight: 600;
  color: #000000;
  margin: 0;
  line-height: 3.13vw;
  text-transform: uppercase;
  flex-shrink: 0;
  text-align: left;
}

.installment-title span {
  color: #485B85;
  text-decoration: underline;
  text-decoration-thickness: 0.16vw;
  text-underline-offset: 0.26vw;
}

.installment-subtitle {
  width: calc(50% - 0.26vw);
  font-size: var(--font-size-h8);
  font-weight: 300;
  color: #1A1A1ABF;
  margin: 0;
  line-height: 1.72vw;
  text-align: left;
  flex-shrink: 0;
}

.installment-card {
  min-height: 20.83vw;
  display: flex;
  border-radius: 1.04vw;
  overflow: hidden;
  background: rgba(17, 47, 85, 1);
  padding: 1vw 1vw 1vw 1.5vw;
  /* box-shadow: 0 0.21vw 0.63vw rgba(0, 0, 0, 0.1); */
  gap: 0;
  position: relative;
  box-sizing: border-box;
  /* border: 0.052vw solid rgba(255, 255, 255, 0.2); */
}

.installment-card-left {
  /* background-color: #485B85; */
  /* padding: 3.13vw; */
  display: flex;
  flex-direction: column;
  gap: 1.56vw;
  /* border-radius: 1.04vw 0 0 1.04vw; */
  flex: 0 0 45%;
  padding-right: 1.56vw;
  box-sizing: border-box;
  overflow: hidden;
  /* align-items: center; */
  justify-content: center;
  text-align: left;
}

.installment-card-title {
  font-size: 2.2vw;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  line-height: 3.4vw;
  text-align: left;
  text-transform: uppercase;
}

.installment-card-description {
  width: 90%;
  font-size: var(--font-size-h6);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  margin: 0;
  line-height: 2.08vw;
  text-align: left;
  opacity: 0.9;
}

.installment-button {
  padding: 0.31vw 0.31vw 0.31vw 1.56vw;
  border-radius: 2.6vw;
  border: 0.052vw solid rgba(245, 245, 245, 1);
  font-weight: 700;
  font-size: var(--font-size-body);
  line-height: 0.89vw;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1.56vw;
  font-family: 'Geist', sans-serif;
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
  width: fit-content;
}

.installment-button span {
  color: rgba(25, 25, 25, 1);
  position: relative;
  z-index: 3;
  transition: color 0.3s ease, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.installment-button:hover span {
  color: #FFFFFF;
  transform: translateX(3.65vw);
}

.installment-button-icon {
  width: 3.13vw;
  height: 3.13vw;
  border-radius: 50%;
  background: rgba(17, 47, 85, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}

.installment-button-icon svg {
  width: 0.73vw;
  height: 0.63vw;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.installment-button:hover .installment-button-icon svg {
  transform: translateX(-10.75vw) rotate(40deg);
}

.installment-button::after {
  content: '';
  position: absolute;
  right: 0.31vw;
  top: 50%;
  transform: translateY(-50%);
  width: 3.13vw;
  height: 3.13vw;
  border-radius: 50%;
  background: rgba(17, 47, 85, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  pointer-events: none;
}

.installment-button:hover::after {
  width: 41.67vw;
  height: 41.67vw;
  right: -20.83vw;
  top: 50%;
  transform: translateY(-50%);
}

.installment-card-right {
  background-color: #FFFFFF;
  height: 34.5vw;
  padding: 1.04vw;
  display: flex;
  flex-direction: column;
  gap: 1.56vw;
  border-radius: 0.8vw;
  flex: 0 0 55%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.installment-card-right-title {
  font-size: var(--font-size-h8);
  font-weight: 700;
  color: rgba(25, 25, 25, 1);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Geist', sans-serif;
  margin-top: 4vw;
}

.installment-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.17vw;
  /* flex: 1; */
  flex-wrap: wrap;
  margin-top: 2vw;
}

.installment-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.78vw;
}

.installment-stat-value {
  font-size: 11.46vw;
  font-weight: 700;
  line-height: 1;
  color: rgba(25, 25, 25, 1);
}

.installment-stat-label {
  font-size: 2.6vw;
  color: rgba(25, 25, 25, 1);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.installment-card-bottom-text {
  font-size: var(--font-size-body);
  color: #1A1A1A;
  font-weight: 300;
  margin: 0;
  line-height: 1.6;
  text-align: center;
  margin-top: auto;
}

@media (max-width: 2200px) {
  .installment-container  {
    padding: 1.04vw 2.6vw 4.17vw 2.6vw;
  }
}