.why-choose-us-container {
  width: 100%;
  padding: 2.604vw 10%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.why-choose-us-title-top {
  display: none;
}

.why-choose-us-content {
  /* max-width: 1920px; */
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.604vw;
  align-items: stretch;
  box-sizing: border-box;
}

.why-choose-us-left {
  display: flex;
  flex-direction: column;
  gap: 4.948vw;
  height: 100%;
}

.why-choose-us-left-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.why-choose-us-title {
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: #000000;
  margin: 0;
  line-height: 1.2;
  font-family: 'Geist', sans-serif;
  text-align: left;
  margin-bottom: 2.604vw;
}

.why-choose-us-title-highlight {
  color: #485B85;
  text-decoration: underline;
  text-decoration-thickness: 0.156vw;
  text-underline-offset: 0.26vw;
}

.why-choose-us-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.why-choose-us-item {
  display: flex;
  align-items: center;
  padding: 1.563vw 0;
  gap: 1.563vw;
}

.why-choose-us-item:first-child {
  border-top: 0.052vw solid rgba(26, 26, 26, 0.3);
}

.why-choose-us-item-dots {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-top: 0.26vw;
}

.why-choose-us-item-number {
  color: rgba(17, 47, 85, 1);
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: 1;
  font-family: 'Geist', sans-serif;
}

.why-choose-us-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.417vw;
}

.why-choose-us-item-title {
    text-align: left;
  font-size: var(--font-size-h6);
  font-weight: 500;
  color: rgba(25, 25, 25, 1);
  margin: 0;
  line-height: 1.3;
  font-family: 'Geist', sans-serif;
}

.why-choose-us-item-description {
  text-align: left;
  font-size: var(--font-size-h8);
  font-weight: 300;
  color: #1A1A1ABF;
  margin: 0;
  line-height: 1.6;
  font-family: 'Geist', sans-serif;
}

.why-choose-us-item-arrow {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-top: 0.26vw;
}

.why-choose-us-item-arrow svg {
  width: 1.25vw;
  height: 1.042vw;
  transition: transform 0.3s ease;
}

.why-choose-us-item:hover .why-choose-us-item-arrow svg {
  transform: rotate(40deg);
}

.why-choose-us-right {
  display: flex;
  gap: 0.5vw;
  align-items: flex-end;
  height: 100%;
  /* width: 46.146vw; */
  flex-shrink: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.why-choose-us-image {
  flex: 1;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  border-radius: 0.5vw;
  display: block;
  object-fit: cover;
  object-position: center center;
  box-sizing: border-box;
}

.why-choose-us-image-first-wrapper {
  flex: 1;
  height: 45.208vw;
  overflow: hidden;
  border-radius: 0.5vw;
  border: 0.062vw solid rgba(25, 25, 25, 1);
  position: relative;
}

.why-choose-us-image-first {
  height: 45.208vw;
  border: none;
}

.why-choose-us-image.why-choose-us-image-first {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
}

.why-choose-us-image-second-wrapper {
  flex: 1;
  height: 42.708vw;
  overflow: hidden;
  border-radius: 0.5vw;
  border: 0.062vw solid rgba(25, 25, 25, 1);
  position: relative;
}

.why-choose-us-image-second {
  height: 42.708vw;
  border: none;
  object-position: center 92%;
}

.why-choose-us-image.why-choose-us-image-second {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transform-origin: center center;
}

.why-choose-us-item-divider {
  height: 0.052vw;
  background: rgba(26, 26, 26, 0.3);
  margin: 0;
  /* transform: scaleY(0.5); */
  transform-origin: center;
  width: 100%;
}

/* .why-choose-us-title {
  font-size: var(--font-size-h1);
} */

@media (max-width: 2200px) {
  .why-choose-us-container {
    padding: 2.604vw;
  }
}

@media (max-width: 780px) {
  .why-choose-us-container {
    padding: 12.82vw 2.6vw 6.41vw 2.6vw;
  }

  .why-choose-us-title.why-choose-us-title-top {
    width: 100%;
    font-size: 5.77vw;
    font-weight: 700;
    line-height: 8.33vw;
    margin-bottom: 6.41vw;
  }

  .why-choose-us-title-highlight {
    text-decoration-thickness: 0.26vw;
    text-underline-offset: 0.64vw;
  }

  .why-choose-us-content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .why-choose-us-right {
    order: 1;
    height: 105.13vw;
    gap: 1.28vw;
    margin-bottom: 6.41vw;
  }

  .why-choose-us-image-first-wrapper {
    /* flex: none; */
    height: 97.9vw;
    border-radius: 1.28vw;
  }

  .why-choose-us-image-second-wrapper {
    /* flex: none; */
    height: 105.0vw;
    border-radius: 1.28vw;
  }

  /* .why-choose-us-image-first {
    height: 52.56vw;
  }

  .why-choose-us-image-second {
    height: 52.56vw;
  } */

  .why-choose-us-left {
    order: 2;
  }

  .why-choose-us-item {
    padding: 3.85vw 0;
    gap: 3.85vw;
  }

  .why-choose-us-item-number {
    font-size: 5.77vw;
  }

  .why-choose-us-item-title {
    font-size: 3.59vw;
  }

  .why-choose-us-item-content {
    gap: 1.28vw;
  }

  .why-choose-us-item-description {
    font-size: 3.85vw;
  }

  .why-choose-us-item-arrow svg {
    width: 3.21vw;
    height: 2.56vw;
  }
}

@media (min-width: 2200px) {
  .why-choose-us-image.why-choose-us-image-first {
    transform: translateX(-0%);
  }
  
  .why-choose-us-image.why-choose-us-image-second {
    transform: scale(1.2) translate(8%, -4%);
  }
}
