.skils-container {
  width: 100%;
  padding: 4vw 10%;
  background-color: white;
  box-sizing: border-box;
}

.skils-content {
  /* max-width: 1920px; */
  margin: 0 auto;
  width: 100%;
  /* padding: 0 50px; */
  box-sizing: border-box;
}

.skils-top-header {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3.125vw;
  align-items: flex-start;
  margin-bottom: 2.6vw;
}

.skils-top-left {
  display: flex;
  flex-direction: column;
}

.skils-top-right {
  display: flex;
  flex-direction: column;
  padding-top: 1.04vw;
  /* margin-left: 100px; */
}

.skils-header {
  display: grid;
  grid-template-columns: 42% 55%;
  gap: 2.6vw;
  align-items: stretch;
}

.skils-left {
  display: flex;
  flex-direction: column;
  /* padding-left: 50px; */
  height: 100%;
  justify-content: space-between;
}

.skils-title {
  /* width: 38.02vw; */
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: #000000;
  line-height: 3.425vw;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.skils-title-highlight {
  color: #485B85;
  text-decoration: underline;
  text-decoration-thickness: 0.16vw;
  text-underline-offset: 0.41vw;
}

.skils-title span {
  color: #485B85;
  text-decoration: underline;
  text-decoration-thickness: 0.16vw;
  text-underline-offset: 0.21vw;
}

.skils-subtitle {
  /* width: 29.17vw; */
  font-size: var(--font-size-h6);
  font-weight: 300;
  color: #1A1A1ABF;
  line-height: 2.1vw;
  margin: 0;
  text-align: left;
}

.skils-fears-list {
  display: flex;
  flex-direction: column;
  margin-top: 6.56vw;
  gap: 1.56vw;
  flex: 1;
}

.skils-fear-item {
  display: flex;
  gap: 2.6vw;
  align-items: flex-start;
}

.skils-fear-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.skils-fear-icon {
  width: 3.8vw;
  height: 3.8vw;
  border-radius: 0.8vw;
  background: rgba(17, 47, 85, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.skils-fear-icon svg {
  width: 1.46vw;
  height: 1.46vw;
  object-fit: contain;
}

.skils-fear-connector {
  width: 1.5px;
  height: 3.49vw;
  margin-top: 0.52vw;
  background-image: radial-gradient(circle, #2E3D58 0.75px, transparent 0.75px);
  background-size: 1.5px 4.5px;
  background-repeat: repeat-y;
  background-position: center;
}

.skils-fear-content {
  flex: 1;
  padding-top: 0.21vw;
}

.skils-fear-title {
  font-size: var(--font-size-h6);
  font-weight: 500;
  color: rgba(25, 25, 25, 1);
  margin: 0 0 0.52vw 0;
  line-height: 1.3;
  text-align: left;
}

.skils-fear-description {
  /* width: 37.24vw; */
  font-size: var(--font-size-h8);
  font-weight: 300;
  color: #1A1A1ABF;
  margin: 0;
  line-height: 1.72vw;
  text-align: left;
}

.skils-right {
  position: relative;
  width: 100%;
  height: 52vw;
  /* padding-right: 50px; */
}

.skils-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.04vw;
  overflow: hidden;
}

.skils-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.skils-info-card {
  width: 34.65vw;
  position: absolute;
  bottom: 2vw;
  left: 8.5vw;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 1.04vw;
  border: 0.03vw solid rgba(255, 255, 255, 1);
  border-top: 0.108vw solid rgba(255, 255, 255, 1);
  padding: 0.26vw;
  display: flex;
  flex-direction: column;
  gap: 0.42vw;
  z-index: 10;
}

.skils-info-card-inner {
  background: #FFFFFF;
  padding: 0.52vw 0.52vw 0.52vw 1vw;
  gap: 1.56vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.8vw;
}

.skils-info-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.skils-info-card-text {
  font-size: var(--font-size-h5);
  font-weight: 700;
  color: rgba(25, 25, 25, 1);
  margin: 0 0 0.52vw 0;
  line-height: 1.4;
  text-align: left;
}

.skils-info-card-subtext {
  font-size: var(--font-size-body-medium);
  font-weight: 300;
  color: #1A1A1ABF;
  margin: 0;
  line-height: 1.4;
  text-align: left;
}

.skils-info-card-icon {
  width: 4.69vw;
  height: 4.69vw;
  border-radius: 0.8vw;
  background: rgba(17, 47, 85, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

.skils-info-card-icon svg {
  width: 2.5vw;
  height: 2.5vw;
}

.skils-tip {
  display: flex;
  gap: 0.8vw;
  align-items: flex-start;
  padding: 1.04vw 0vw 1.04vw 1.04vw;
  border-radius: 1.04vw;
}

.skils-tip-icon {
  flex-shrink: 0;
  width: 1.6vw;
  height: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skils-tip-icon svg {
  width: 100% !important;
  height: 100% !important;
}

.skils-tip-icon svg .skils-exclamation-mark {
  transform: scale(0.5);
  transform-origin: center;
}

.skils-tip-text {
  width: 100%;
  font-size: var(--font-size-h8);
  font-weight: 300;
  color: rgba(26, 26, 26, 0.75);
  margin: 0;
  line-height: 1.46vw;
  text-align: left;
  font-family: 'Geist', sans-serif;
}

@media (max-width: 2200px) {
  .skils-container { 
      padding: 4.2vw 2.6vw;
  }
  /* .googing-title {
      font-size: 2.6vw;
  } */
}

@media (max-width: 780px) {
  .skils-container {
    padding: 3.846vw 2.6vw 8.333vw 2.6vw;
  }

  .skils-fear-icon {
    width: 8.3vw;
    height: 8.3vw;
    border-radius: 1.5vw;
  }

  .skils-fear-icon svg {
    width: 3.1vw;
    height: 3.1vw;
  }

  .skils-fear-connector {
    width: 2px;
    height: 8.846vw;
    margin-top: 1.4vw;
  }

  .skils-tip {
    padding: 6.41vw 0vw 10.256vw 0vw;
    gap: 2vw;
  }

  .skils-tip-icon {
    width: 3.8vw;
    height: 3.8vw;
  }

  .skils-tip-text {
    font-size: 3.333vw;
    line-height: 4.2vw;
  }

  .skils-fear-item {
    gap: 5vw;
  }

  .skils-fear-title {
    font-size: 4.487vw;
    font-weight: 700;
    margin-bottom: 1.3vw;
  }

  .skils-fears-list {
    gap: 3.846vw;
  }

  .skils-title {
    width: 100%;
    font-size: 5.77vw;
    font-weight: 700;
    line-height: 8.33vw;
  }

  .skils-title span,
  .skils-title-highlight {
    text-decoration-thickness: 0.26vw;
    text-underline-offset: 0.64vw;
  }

  .skils-subtitle {
    width: 100%;
    font-size: 3.333vw;
    font-weight: 300;
    line-height: 4.73vw;
    margin-top: 0;
  }

  .skils-fear-description {
    font-size: 3.333vw;
    line-height: 4.2vw;
  }

  .skils-top-header {
    display: flex;
    flex-direction: column;
    gap: 2.56vw;
    margin-bottom: 0;
  }

  .skils-top-left {
    width: 100%;
  }

  .skils-top-right {
    width: 100%;
    padding-top: 0;
  }

  .skils-header {
    display: flex;
    flex-direction: column;
    gap: 2.6vw;
  }

  .skils-left {
    width: 100%;
    order: 1;
  }

  .skils-right {
    width: 100%;
    order: 2;
    height: 128.21vw;
  }

  .skils-image-wrapper {
    height: 128.21vw;
    width: 100%;
    border-radius: 2.564vw;
  }

  .skils-image {
    border-radius: 2.564vw;
  }

  .skils-info-card {
    width: 84.615vw;
    padding: 0.641vw;
    border-radius: 2.564vw;
    left: 4.5vw;
  }

  .skils-info-card-inner {
    padding: 1.026vw 2.564vw;
    gap: 3.846vw;
    border-radius: 1.923vw;
  }

  .skils-info-card-text {
    font-size: 3.462vw;
  }

  .skils-info-card-icon {
    width: 11.538vw;
    height: 11.538vw;
    border-radius: 1.923vw;
  }

  .skils-info-card-icon svg {
    width: 5.128vw;
    height: 5.128vw;
  }
}