.googing {
    width: 100%;
    background: #EBEBEB;
    padding: 4vw 10%;
}

.googing-container {
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
}

.googing-header {
    text-align: center;
    margin-bottom: 2.6vw;
}

.googing-title {
    /* font-size: 2.1vw; */
    font-size: var(--font-size-h1);
    font-weight: 700;
    line-height: 3.125vw;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Geist', sans-serif;
    /* margin-bottom: 20px; */
}

.googing-title span {
    color: #485B85;
    text-decoration: underline;
    text-decoration-thickness: 0.16vw;
    text-underline-offset: 0.22vw;
}

.googing-description {
    /* font-size: 1.3vw; */
    font-size: var(--font-size-h6);
    font-weight: 300;
    line-height: 2vw;
    color: #1A1A1ABF;
    text-align: left;
    font-family: 'Geist', sans-serif;
    max-width: 85.94vw;
    margin-top: 0.56vw;
    /* margin: 0 auto; */
}

.googing-content {
    display: flex;
    gap: 2.08vw;
    align-items: flex-start;
}

.googing-left {
    flex: 1;
    position: relative;
}

.googing-doctor-image {
    width: 100%;
    height: 36.77vw;
    background: #E0E0E0;
    border-radius: 1.04vw;
    overflow: hidden;
    position: relative;
}

.googing-doctor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
    display: block;
}

.googing-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.17vw;
    height: 4.17vw;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
    box-sizing: content-box;
}

.googing-play-button::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 4.17vw;
    height: 4.17vw;
    background: #FFFFFF;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.googing-play-button::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 4.17vw;
    height: 4.17vw;
    background: #FFFFFF;
    border-radius: 50%;
    transition: all 200ms;
}

.googing-play-button:hover::after {
    background-color: #f5f5f5;
}

.googing-play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.googing-play-button svg {
    width: 1.16vw;
    height: 1.4vw;
    transform: translateX(0.1vw);
    position: relative;
    z-index: 3;
}

@keyframes pulse-border {
    0% {
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.googing-doctor-info {
    /* background: #FFFFFFA6; */
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1.04vw;
    padding: 0.26vw;
    display: flex;
    flex-direction: column;
    gap: 0.42vw;
    position: absolute;
    bottom: 0.8vw;
    right: 0.8vw;
    border: 0.03vw solid rgba(255, 255, 255, 1);
    border-top: 0.1vw solid rgba(255, 255, 255, 1);
    /* max-width: 300px; */
}

.googing-doctor-info-card {
    background: #FFFFFF;
    padding: 0.52vw 1.25vw;
    gap: 1.56vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.78vw;
}

.googing-doctor-name {
    font-size: var(--font-size-h5);
    text-align: left;
    font-weight: 700;
    color: rgba(25, 25, 25, 1);
    font-family: 'Geist', sans-serif;
    margin-bottom: 0.26vw;
}

.googing-doctor-title {
    font-size: var(--font-size-body-small);
    font-weight: 400;
    text-align: left;
    color: #666666;
    font-family: 'Geist', sans-serif;
}

.googing-doctor-contact {
    width: 3.125vw;
    height: 3.125vw;
    background: rgba(46, 61, 88, 1);
    border-radius: 2.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 8px; */
    cursor: pointer;
}

.googing-doctor-contact svg {
    width: 1.2vw;
    height: 0.94vw;
}

.googing-right {
    flex: 1;
}

.googing-form-card {
    height: 36.77vw;
    background: #FFFFFF;
    border-radius: 1.04vw;
    padding: 3.125vw 1.56vw;
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
    align-items: flex-start;
}

.googing-consent {
    text-align: left;
}

.googing-form-title {
    width: 39.85vw;
    margin: 0;
    font-size: var(--font-size-h3-5);
    font-weight: 600;
    line-height: 2.7vw;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Geist', sans-serif;
    text-align: left;
    /* width: 100%; */
}

.googing-form-title span[style*="underline"] {
    text-decoration-thickness: 0.16vw;
    text-underline-offset: 0.26vw;
}

.googing-form-description {
    font-size: 1.15vw;
    margin: 0;
    font-weight: 300;
    line-height: 1.7vw;
    color: #1A1A1ABF;
    font-family: 'Geist', sans-serif;
    text-align: left;
    width: 33.65vw;
}

.googing-form-buttons {
    display: flex;
    gap: 0.78vw;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.googing-btn {
    padding: 1.46vw 2.08vw;
    border-radius: 2.6vw;
    font-weight: 600;
    border: none;
    font-size: var(--font-size-button-secondary);
    font-weight: 500;
    line-height: 0.99vw;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    font-family: 'Geist', sans-serif;
}

.googing-btn-secondary {
    background: #EBEBEB;
    color: #000000;
    border: 0.052vw solid #E0E0E0;
}

.googing-btn-secondary:hover {
    background: #FFFFFF;
}

.googing-btn-1 {
    padding: 0.31vw 0.31vw 0.31vw 1.56vw;
    border-radius: 2.6vw;
    border: 0.052vw solid #2E3D58;
    font-weight: 700;
    font-size: var(--font-size-button);
    line-height: 0.89vw;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1.56vw;
    font-family: 'Geist', sans-serif;
    position: relative;
    overflow: hidden;
}

.googing-btn-primary {
    background: #485B85;
    color: #FFFFFF;
}

.googing-btn-primary span {
    color: #FFFFFF;
    transition: color 0.3s ease, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    z-index: 3;
}

.googing-btn-primary:hover span {
    color: #485B85;
    transform: translateX(min(3.65vw, 15.31vw));
}

.googing-btn-icon {
    width: 3.125vw;
    height: 3.125vw;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.googing-btn-icon svg {
    width: 0.73vw;
    height: 0.63vw;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Эффект блика для кнопки */
.googing-btn-1 .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation 3s infinite;
    left: -170%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), #fff);
    filter: blur(0px);
    z-index: 1;
    pointer-events: none;
}

@keyframes flareAnimation {
    0% {
        left: -170%;
    }
    50% {
        left: 170%;
    }
    100% {
        left: 170%;
    }
}

.googing-btn-1:hover .googing-btn-icon svg {
    transform: translateX(max(-12.7vw, calc(-10% - 30.56vw))) rotate(40deg);
}

.googing-btn-1::after {
    content: '';
    position: absolute;
    right: 0.31vw;
    top: 50%;
    transform: translateY(-50%);
    width: 3.125vw;
    height: 3.125vw;
    border-radius: 50%;
    background: #FFFFFF;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
    pointer-events: none;
}

.googing-btn-1:hover::after {
    width: 41.67vw;
    height: 41.67vw;
    right: -20.83vw;
    top: 50%;
    transform: translateY(-50%);
}

.googing-form-checkbox {
    display: flex;
    align-items: center;
    gap: 0.53vw;
    justify-content: flex-start;
    width: 100%;
}

.googing-form-checkbox input[type="checkbox"] {
    width: 0.78vw;
    height: 0.78vw;
    border-radius: 0.2vw;
    border: 0.052vw solid #EBEBEB;
    background: #EBEBEB;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    flex-shrink: 0;
}

.googing-form-checkbox input[type="checkbox"]:checked {
    background: rgba(72, 91, 133, 1);
    border-color: rgba(46, 61, 88, 1);
}

.googing-form-checkbox input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0.12vw;
    height: 0.38vw;
    border: solid white;
    border-width: 0 0.16vw 0.16vw 0;
    transform: translate(-50%, -60%) rotate(45deg);
}

.googing-form-checkbox label {
    font-size: var(--font-size-body-small);
    /* line-height: 1.5; */
    font-weight: 400;
    color: #666666;
    font-family: 'Geist', sans-serif;
    cursor: pointer;
    text-align: left;
}

.googing-form-disclaimer {
    font-size: var(--font-size-body-small);
    font-weight: 300;
    color: #1A1A1ABF;
    font-family: 'Geist', sans-serif;
    /* font-style: italic; */
    text-align: left;
    width: 100%;
    margin-top: auto;
}

@media (max-width: 2200px) {
    .googing { 
        padding: 4.2vw 2.6vw;
    }
    .googing-title {
        font-size: var(--font-size-h1);
    }
}

@media (max-width: 780px) {
    .googing-header {
        margin-bottom: 5.128vw;
    }

    .googing-title {
        width: 100%;
        font-size: 5.77vw;
        font-weight: 700;
        line-height: 8.33vw;
    }

    .googing-title span {
        text-decoration-thickness: 0.26vw;
        text-underline-offset: 0.64vw;
    }

    .googing-description {
        width: 100%;
        font-size: 3.333vw;
        font-weight: 300;
        line-height: 4.73vw;
        margin-top: 2.564vw;
    }

    .googing-content {
        display: flex;
        flex-direction: column;
    }

    .googing-left {
        width: 100%;
    }

    .googing-doctor-image {
        height: 102.564vw;
        width: 100%;
        border-radius: 2.564vw;
    }

    .googing-doctor-image img {
        border-radius: 2.564vw;
    }

    .googing-doctor-info {
        padding: 0.641vw;
        border-radius: 2.564vw;
    }

    .googing-doctor-info-card {
        border-radius: 1.923vw;
    }

    .googing-doctor-image .googing-play-button {
        width: 15.38vw;
        height: 15.38vw;
        box-sizing: content-box;
    }

    .googing-doctor-image .googing-play-button::before,
    .googing-doctor-image .googing-play-button::after {
        width: 15.38vw;
        height: 15.38vw;
    }

    .googing-doctor-image .googing-play-button svg {
        width: 3.46vw;
        height: 4.36vw;
    }

    .googing-doctor-name {
        font-size: 3.462vw;
        font-weight: 700;
    }

    .googing-doctor-title {
        font-size: 1.795vw;
        font-weight: 300;
    }

    .googing-doctor-info-card {
        padding: 1.026vw 2.564vw;
        gap: 3.846vw;
    }

    .googing-doctor-contact {
        width: 7.692vw;
        height: 7.692vw;
        border-radius: 10.564vw;
    }

    .googing-doctor-contact svg {
        width: 3.846vw;
        height: 3.077vw;
    }

    .googing-right {
        width: 100%;
    }

    .googing-form-card {
        width: 100%;
        height: auto;
        padding: 3.59vw 2.56vw;
    }

    .googing-form-title {
        width: 100%;
        font-size: 5.77vw;
        font-weight: 700;
        line-height: 8.33vw;
    }

    .googing-form-title span {
        text-decoration-thickness: 0.26vw;
        text-underline-offset: 0.64vw;
    }

    .googing-form-description {
        width: 100%;
        font-size: 2.76vw;
        font-weight: 300;
        line-height: 4.23vw;
        margin-top: 1.92vw;
    }

    .googing-form-buttons {
        gap: 1.92vw;
        margin-top: 3.85vw;
    }

    .googing-btn {
        padding: 3.59vw 5.13vw;
        border-radius: 6.41vw;
        font-size: 2.08vw;
        line-height: 2.44vw;
    }

    .googing-btn-1 {
        padding: 0.77vw 0.77vw 0.77vw 3.21vw;
        border-radius: 6.41vw;
        font-size: 2.308vw;
        line-height: 2.18vw;
        gap: 3.85vw;
    }

    .googing-btn-icon {
        width: 7.69vw;
        height: 7.69vw;
    }

    .googing-btn-icon svg {
        width: 2.05vw;
        height: 1.79vw;
    }

    .googing-btn-1::after {
        right: 0.77vw;
        width: 7.69vw;
        height: 7.69vw;
    }

    .googing-btn-1:hover::after {
        width: 102.56vw;
        height: 102.56vw;
        right: -51.28vw;
    }

    .googing-form-disclaimer {
        font-size: 2.051vw;
        font-weight: 300;
        margin-top: 7.692vw;
    }

    .googing {
        padding: 9vw 2.6vw 6.41vw 2.6vw;
    }
}

.kvis-privacy-link {
    color: rgba(26, 26, 26, 0.75);
    text-decoration: underline;
    cursor: pointer;
}

.kvis-privacy-link:hover {
    text-decoration: underline;
    color: rgba(26, 26, 26, 1);
}